body
{
background-color: gray;
}

h1
{
color:black;

}

.note{
font-style: italic
}

li {

list-style-type: square;
color: red

}

a
{
color:red;

{

p
{
color:black;

{

